table {
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
}

/* form {
    display: flex;
    align-items: center;
    justify-content: center;
} */

td {
    padding: 5px;
    border: 1px solid black;
}

thead td {
    cursor: pointer;
}

.bg-secondary {
    cursor: auto;
    color: white;
}